aiohttp==3.7.4.post0
asgiref==3.5.0
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.6
dateparser==1.1.0
greenlet==1.1.2
idna==3.2
joblib==1.1.0
msgpack==1.0.3
multidict==5.2.0
neovim==0.3.1
numpy==1.22.0
protobuf==3.19.4
pynvim==0.4.3
python-dateutil==2.8.2
pytz==2021.3
regex==2021.9.30
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
threadpoolctl==3.0.0
typing-extensions==3.10.0.2
tzlocal==3.0
ujson==4.2.0
urllib3==1.26.7
websockets==9.1
yarl==1.6.3
